@page "/Landscape"
@using MASA.PM.Contracts.Base.ViewModel


<div>
    <MRow NoGutters>

        <MNavigationDrawer Permanent Class="rounded-4" Width="242" Style="height:calc(100vh - 142px );">
            <div style="min-width:242px; display:flex; flex-direction:column; align-items:center; overflow: auto; height:calc(100vh - 238px );">
                <MList Width="194">
                    <MListItemGroup Class="rounded-2"
                                    @bind-Value="_selectedEnvId"
                                    Mandatory
                                    Color="#A3AED0">
                        @foreach (var env in _environments)
                        {
                            <MListItem Class="rounded-2 env-list" Value="env.Id" Dense OnClick="@(()=>GetClustersByEnvIdAsync(env.Id))">
                                <MListItemContent>
                                    <MListItemTitle>@env.Name</MListItemTitle>
                                </MListItemContent>
                                <MListItemIcon Class="d-flex align-center pt-1">
                                    <MButton StopPropagation Icon OnClick="()=>EditEnvAsync(env.Id)">
                                        <MIcon>mdi-pencil</MIcon>
                                    </MButton>
                                </MListItemIcon>
                            </MListItem>
                        }
                    </MListItemGroup>
                </MList>
            </div>
            <MButton OnClick="()=>ShowEnvModalAsync()" Width="194" Tile Text Style="height: 54px; border: dashed 1px rgba(0, 0, 0, 0.12); position: fixed; left:24px; right:24px; bottom: 24px;">
                <MIcon Left>mdi-plus</MIcon>新增环境
            </MButton>
        </MNavigationDrawer>

        <div class="pl-6" style="width: calc(100% - 242px); overflow: hidden; display:block;">
            <MRow NoGutters Align="AlignTypes.Center" Class="env-toolbar rounded-5" Style="height:102px;background:#fff;padding:0 12px;">
                <MCard Style="padding-right: 125px;">
                    <MTabs @bind-Value="_selectEnvClusterId" Class="cluster-tabs" BackgroundColor="#fff" ShowArrows="@(true)" ActiveClass="cluster-tab-active" HideSlider>
                        @foreach (var cluster in _clusters)
                        {
                            StringNumber envClusterId = (StringNumber)cluster.EnvironmentClusterId;
                            <MTab Value="envClusterId" OnClick="()=>GetProjectByEnvClusterIdAsync(cluster.EnvironmentClusterId)">
                                @cluster.Name
                                <MButton StopPropagation Icon OnClick="()=>EditClusterAsync(cluster.Id)">
                                    <MIcon>mdi-pencil</MIcon>
                                </MButton>
                            </MTab>
                        }
                    </MTabs>
                </MCard>
                <MButton OnClick="()=>ShowClusterModalAsync()" Width="120" Tile Text Style="position:fixed; right:48px; height: 54px; border: dashed 1px rgba(0, 0, 0, 0.12);">
                    <MIcon Left>mdi-plus</MIcon>新增集群
                </MButton>
            </MRow>
            <div class="rounded-5 mt-6 py-2" style="height:calc(100vh - 266px );background:#fff;display:flex; flex-direction:column; justify-content:space-between; overflow:auto;">
                <div>
                    <MExpansionPanels Flat Accordion>

                        <MExpansionPanel Style="margin-bottom: 12px; border-radius: 20px;">
                            <MExpansionPanelHeader>
                                <span style="display:flex;align-items:center;margin-right:10px;">
                                    <div class="text-h6">
                                        sys.Name
                                        <span class="ml-2 text-caption">|</span>
                                        <sapn class="ml-1 text-caption">应用数量: 8</sapn>
                                        <div class="text-caption" style="padding:0">sys.Description</div>
                                    </div>
                                    <MSpacer />
                                    <div style="display:flex;align-items:center;">
                                        <MButton Icon StopPropagation Class="mr-1"><MIcon>mdi-pencil</MIcon></MButton>
                                        <MDivider Vertical Style="height: 20px;margin: 7px 8px 0 8px;" />
                                    </div>
                                </span>
                            </MExpansionPanelHeader>
                            <MExpansionPanelContent>
                                <MRow>
                                    <MCol Lg="4" Md="6" Sm="1">
                                        <MCard Outlined MinHeight="162" Style="border-radius:10px !important; border: 1px solid #E2E7F4;">
                                            <MCardTitle Style="font-size: medium; flex-wrap:nowrap;">
                                                <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">app.Name</div>
                                                <MSpacer />
                                                <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">app.Name</div>
                                            </MCardTitle>
                                            <MCardSubtitle>
                                                @*<div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">AppId:Identity</div>*@
                                                <div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">Description</div>
                                            </MCardSubtitle>
                                            <MCardActions Style="position:absolute;bottom:0;left:0;right:0;">
                                                <MChipGroup Class="mx-2">
                                                    <MChip Style="margin:0 2px;" Class="text-btn" Small TextColor="sample-green" Color="sample-green-lighten-5">环境/集群</MChip>
                                                    <MChip Style="margin:0 2px;" Class="text-btn" Small TextColor="sample-green" Color="sample-green-lighten-5">环境/集群</MChip>
                                                    <MChip Style="margin:0 2px;" Class="text-btn" Small TextColor="sample-green" Color="sample-green-lighten-5">环境/集群</MChip>
                                                </MChipGroup>
                                            </MCardActions>
                                        </MCard>
                                    </MCol>
                                    <MCol Lg="4" Md="6" Sm="1">
                                        <MCard Outlined MinHeight="162" Style="border-radius:10px !important; border: 1px solid #E2E7F4;">
                                            <MCardTitle Style="font-size: medium; flex-wrap:nowrap;">
                                                <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">app.Name</div>
                                                <MSpacer />
                                                <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">app.Name</div>
                                            </MCardTitle>
                                            <MCardSubtitle>
                                                @*<div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">AppId:Identity</div>*@
                                                <div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">Description</div>
                                            </MCardSubtitle>
                                            <MCardActions Style="position:absolute;bottom:0;left:0;right:0;">
                                                <MChip Class="mx-1 text-btn" Small TextColor="sample-green" Color="sample-green-lighten-5">环境/集群</MChip>
                                            </MCardActions>
                                        </MCard>
                                    </MCol>
                                    <MCol Lg="4" Md="6" Sm="1">
                                        <MCard Outlined MinHeight="162" Style="border-radius:10px !important; border: 1px solid #E2E7F4;">
                                            <MCardTitle Style="font-size: medium; flex-wrap:nowrap;">
                                                <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">app.Name</div>
                                                <MSpacer />
                                                <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">app.Name</div>
                                            </MCardTitle>
                                            <MCardSubtitle>
                                                @*<div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">AppId:Identity</div>*@
                                                <div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">Description</div>
                                            </MCardSubtitle>
                                            <MCardActions Style="position:absolute;bottom:0;left:0;right:0;">
                                                <MButton Icon Color="primary"><MIcon>mdi-square-edit-outline</MIcon></MButton>
                                                <MButton Icon Color="error"><MIcon>mdi-delete-outline</MIcon></MButton>
                                                <MSpacer />
                                                <MButton Icon Color="primary"><MIcon>mdi-eye</MIcon></MButton>
                                            </MCardActions>
                                        </MCard>
                                    </MCol>
                                    <MCol Lg="4" Md="6" Sm="1">
                                        <MCard Outlined MinHeight="162" Style="border-radius:10px !important; border: 1px solid #E2E7F4;">
                                            <MCardTitle Style="font-size: medium; flex-wrap:nowrap;">
                                                <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">app.Name</div>
                                                <MSpacer />
                                                <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">app.Name</div>
                                            </MCardTitle>
                                            <MCardSubtitle>
                                                @*<div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">AppId:Identity</div>*@
                                                <div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">Description</div>
                                            </MCardSubtitle>
                                            <MCardActions Style="position:absolute;bottom:0;left:0;right:0;">
                                                <MButton Icon Color="primary"><MIcon>mdi-square-edit-outline</MIcon></MButton>
                                                <MButton Icon Color="error"><MIcon>mdi-delete-outline</MIcon></MButton>
                                                <MSpacer />
                                                <MButton Icon Color="primary"><MIcon>mdi-eye</MIcon></MButton>
                                            </MCardActions>
                                        </MCard>
                                    </MCol>
                                    <MCol Lg="4" Md="6" Sm="1">
                                        <MCard Outlined Style="border-radius:10px !important; display:flex; align-items: center; justify-content: center; border-style: dashed;" MinHeight="162">
                                            <MButton Ripple=false Plain XLarge><MIcon Left>mdi-plus</MIcon>APP</MButton>
                                        </MCard>
                                    </MCol>
                                </MRow>
                                <div class="d-flex justify-space-between mt-3">
                                    <div>
                                        <img style="height:24px;width:24px" src="/img/avatar/9.svg">
                                    </div>
                                    <div class="text-caption">编辑于一小时前</div>
                                </div>
                            </MExpansionPanelContent>
                        </MExpansionPanel>

                        @foreach (var project in _projects)
                        {
                            <MExpansionPanel Style="margin-bottom: 12px; border-radius: 20px;">
                                <MExpansionPanelHeader>
                                    <span style="display:flex;align-items:center;margin-right:10px;">
                                        <div class="text-h6">
                                            @project.Name
                                            <span class="ml-2 text-caption">|</span>
                                            <sapn class="ml-1 text-caption">应用数量: @_projectApps.Count</sapn>
                                            <div class="text-caption" style="padding:0">@project.Description</div>
                                        </div>
                                        <MSpacer />
                                        <div style="display:flex;align-items:center;">
                                            <MButton Icon StopPropagation Class="mr-1"><MIcon>mdi-pencil</MIcon></MButton>
                                            <MDivider Vertical Style="height: 20px;margin: 7px 8px 0 8px;" />
                                        </div>
                                    </span>
                                </MExpansionPanelHeader>
                                <MExpansionPanelContent>
                                    <MRow>
                                        @foreach (var app in _projectApps)
                                        {
                                            <MCol Lg="4" Md="6" Sm="1">
                                                <MCard Outlined MinHeight="162" Style="border-radius:10px !important; border: 1px solid #E2E7F4;">
                                                    <MCardTitle Style="font-size: medium; flex-wrap:nowrap;">
                                                        <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@app.Name</div>
                                                        <MSpacer />
                                                        <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@app.Type</div>
                                                    </MCardTitle>
                                                    <MCardSubtitle>
                                                        @*<div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">AppId:Identity</div>*@
                                                        <div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@app.Description</div>
                                                    </MCardSubtitle>
                                                    <MCardActions Style="position:absolute;bottom:0;left:0;right:0;">
                                                        <MChipGroup Class="mx-2">
                                                            @foreach (var item in app.EnvironmentClusters)
                                                            {
                                                                <MChip Style="margin:0 2px;" Class="text-btn" Small TextColor="sample-green" Color="sample-green-lighten-5">@item.EnvironmentClusterName</MChip>
                                                            }
                                                        </MChipGroup>
                                                    </MCardActions>
                                                </MCard>
                                            </MCol>
                                        }

                                    </MRow>
                                    <div class="d-flex justify-space-between mt-3">
                                        <div>
                                            <img style="height:24px;width:24px" src="/img/avatar/9.svg">
                                        </div>
                                        <div class="text-caption">编辑于一小时前</div>
                                    </div>
                                </MExpansionPanelContent>
                            </MExpansionPanel>
                        }

                    </MExpansionPanels>
                </div>
                <MCard Outlined Class="mb-4 mx-6" Style="padding:0 6px; border-radius:0 !important; display: flex; justify-content: center; align-items: center; border-style: dashed;" Height=54>
                    <MButton Ripple=false Plain XLarge>
                        <MIcon Left>mdi-plus</MIcon>新增项目
                    </MButton>
                </MCard>
            </div>
        </div>

    </MRow>
</div>

<FormModal Visible="_envFormModel.Visible"
           Title="@(_envFormModel.HasValue ?"编辑环境":"新增环境")"
           Width="684"
           Model="_envFormModel.Data"
           OnCancel="_envFormModel.Hide"
           OnOk=SubmitEnv>
    <MTextField Outlined Label="环境名称" @bind-Value="_envFormModel.Data.Name"></MTextField>
    <MTextField Outlined Label="环境描述" @bind-Value="_envFormModel.Data.Description"></MTextField>
    <MAutocomplete @bind-Value="_envFormModel.Data.ClusterIds"
                   Items="_allClusters"
                   ItemText="r=>r.Name"
                   ItemValue="r=>r.Id"
                   Outlined
                   Label="关联集群"
                   Multiple>
        <SelectionContent Context="_context">
            <MChip Class="text-btn" Small TextColor="sample-green" Color="sample-green-lighten-5">
                @_context.Item.Name
            </MChip>
        </SelectionContent>
    </MAutocomplete>
    @if (_envFormModel.HasValue)
    {
        <MRow Justify="JustifyTypes.SpaceBetween" Style="line-height:normal !important;">
            <MCol Cols=6>创建人: @_envDetail.Creator</MCol>
            <MCol Class="d-flex justify-end" Cols=6>创建时间: @_envDetail.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</MCol>
            <MCol Cols=6>修改人: @_envDetail.Modifier</MCol>
            <MCol Class="d-flex justify-end" Cols=6>修改时间: @_envDetail.ModificationTime.ToString("yyyy-MM-dd HH:mm:ss")</MCol>
            <MCol Cols=6>集群数量：3</MCol>
        </MRow>
    }
</FormModal>

<FormModal Visible="_clusterFormModel.Visible"
           Title="@(_clusterFormModel.HasValue ?"编辑集群":"新增集群")"
           Width="684"
           Model="_clusterFormModel.Data"
           OnCancel="_clusterFormModel.Hide"
           OnOk=SubmitCluster>
    <MTextField Outlined Label="集群名称" @bind-Value="_clusterFormModel.Data.Name"></MTextField>
    <MTextField Outlined Label="集群描述" @bind-Value="_clusterFormModel.Data.Description"></MTextField>
    <MAutocomplete @bind-Value="_clusterFormModel.Data.EnvironmentIds"
                   Items="_allEnvs"
                   ItemText="r=>r.Name"
                   ItemValue="r=>r.Id"
                   Outlined
                   Label="关联环境"
                   Multiple>
        <SelectionContent Context="_context">
            <MChip Class="text-btn" Small TextColor="sample-green" Color="sample-green-lighten-5">
                @_context.Item.Name
            </MChip>
        </SelectionContent>
    </MAutocomplete>
    @if (_clusterFormModel.HasValue)
    {
        <MRow Justify="JustifyTypes.SpaceBetween" Style="line-height:normal !important;">
            <MCol Cols=6>创建人: @_clusterDetail.Creator</MCol>
            <MCol Class="d-flex justify-end" Cols=6>创建时间: @_clusterDetail.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</MCol>
            <MCol Cols=6>修改人: @_clusterDetail.Modifier</MCol>
            <MCol Class="d-flex justify-end" Cols=6>修改时间: @_clusterDetail.ModificationTime.ToString("yyyy-MM-dd HH:mm:ss")</MCol>
            <MCol Cols=6>项目数量：3</MCol>
        </MRow>
    }
</FormModal>


@code {
}

