@using MASA.PM.Contracts.Base.ViewModel

<MCard Class="hover-pointer" OnClick="OnClick" Outlined MinHeight="Height" Style="border-radius:10px !important; border: 1px solid #E2E7F4;">
    <MCardTitle Style="font-size: medium; flex-wrap:nowrap;">
        <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@App.Name</div>
        <MSpacer />
        <div class="text-h7" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@App.Type</div>
    </MCardTitle>
    <MCardSubtitle>
        <div class="text-caption" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">@App.Identity</div>
        <div class="text-body3" style="display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;">@App.Description</div>
    </MCardSubtitle>
    <MCardActions Style="position:absolute;bottom:0;left:0;right:0;">
        <MChipGroup Class="mx-2">
            @foreach (var item in EnvironmentClusters)
            {
                <MChip Style="margin:0 2px;" Class="text-btn" Small TextColor="sample-green" Color="sample-green-lighten-5">@item.EnvironmentClusterName</MChip>
            }
        </MChipGroup>
    </MCardActions>
</MCard>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public List<AppEnvironmentClusterViewModel> EnvironmentClusters { get; set; } = new();

    [Parameter]
    public AppViewModel App { get; set; } = new();

    [Parameter]
    public bool ShowEditInfo { get; set; }

    [Parameter]
    public string EditInfo { get; set; } = "";

    public int Height => ShowEditInfo ? 242 : 162;

    private async Task HandleOnClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }
}
